* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #c8c7ce; /* Off-white text color */
    --background-color: #121212; /* Dark gray background */
    --accent-color: #0039b5; /* Optional: Accent color for links or highlights */
}

body{
    background-color: var(--background-color);
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.bar {
    border: none;
    height: 3px;
    background: linear-gradient(to right, var(--accent-color), #00a0b5);
    width: 90%;
    margin: 40px 0;
    border-radius: 4px;
    max-width: 650px;
    padding-right: 5px;
}

h2 {

}

/* header */

header {
    display: flex;
    align-items: center; /* Vertically centers the items */
    justify-content: center;
    gap: 20px; /* Adds space between the items */
    padding: 20px; /* Optional: Adds some padding around the header */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 80px;
}

header img {
    width: 100px; /* Set a width for the image */
    height: 100px; /* Set a height for the image */
    object-fit: cover; /* Ensures the image doesn't stretch */
    border-radius: 50%; /* Optional: Makes the image circular */
}

header h2 {
    margin: 0; /* Removes any default margin */
    font-size: 1.5rem; /* Optional: Adjusts the font size */
    color: var(--text-color)
}

header .img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .img-nav #link-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

header .highlight {
    color: var(--accent-color);
    margin: 0;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-image: url(resources/polygons.webp);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.fab {
    font-size: 30px;
}

.fa-github {
    color: var(--accent-color);
}

.fa-linkedin {
    color: var(--accent-color);
    font-size: 31px;
    padding-top: 1px;
    padding-left: 1px;
}

/* skills */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#skills {
    overflow: hidden;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

#skills p {
    text-align: left;
    padding: 0 30px;
    
}

#skills h2 {
    padding: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
}

#about-me {
    padding-bottom: 40px;
}

#about-me p {
    text-align: justify;
    word-spacing: 1.4px;
}

#about-me .link {
    color: white;
    text-decoration: underline;
}

.logos {
    overflow: hidden;
    padding-top: 5px 0;
    padding-bottom: 0;
    background: rgb(255, 255, 255);
    white-space: nowrap;
    position: relative;
}

.logos:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    background: linear-gradient(to left,rgba(255,255,255,0), var(--background-color));
    content: "";
    z-index: 2;
}

.logos:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 100%;
    background: linear-gradient(to right,rgba(255,255,255,0), var(--background-color));
    content: "";
    z-index: 2;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 8s slide infinite linear;
}

.logo {
    height: 40px;
    margin: 0 5px;
}

.python-logo {
    size: 200%;
    padding-left: 50px;
    padding-right: 45px;
    transform: scale(2.5);
    padding-bottom: 3px;
}

.git-logo {
    height: 50px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.pytorch-logo {
    transform: scale(2);
    padding-bottom: 3px;
    padding-left: 26px;
    padding-right: 32px;
}

.numpy-logo {
    transform: scale(1.6);
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 25px;
}

.pandas-logo {
    transform: scale(1.8);
    padding-bottom: 3px;
    padding-left: 24px;
    padding-right: 32px;
}

.java-logo {
    transform: scale(1.5);
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 7px;
}
